.git
.github
.devcontainer
.vscode
.vscode-test
.gitignore
.DS_Store

tsconfig.json
eslint.config.mjs
webpack.config.js
.markdownlint.yml

src
dist/**/*.map
**/*.vsix
node_modules

assets/logo/logo-social.png
assets/videos/**
CITATION.cff
